#conteudoBody{
  padding: 0;
  margin: 0;
}

#conteudoPrincipal{
  min-height:85vh;
}

#conteudoRodape{
  height: 10vh;
  color: white;
  background-color: black;
}

.imgPerfil{
  width: 10rem;
}

.list-group.list-group-horizontal.lista{
  margin-bottom: 3rem;
}

.btn.btn-warning a{
  text-decoration: none;
  color: white;
}