<div class="container-fluid text-center">
    <h1 class="text-center">Editar contato</h1>
    <form class="container-sm" action="/editar" method="post" enctype="multipart/form-data">
        <input name="id" value={{usuario.id}} readonly hidden>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nome</label>
            <input name="nome" value={{usuario.nome}} type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail2" class="form-label">Contato</label>
            <input name="contato" value="{{usuario.contato}}" type="text" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Nova imagem</label>
            <input class="form-control" type="file" id="formFile" name="imagem">
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>